@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: #f3f5f6;
}
header{
    background-color:#ffff;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.imagemCabecalho{
    max-width: 10%;
    height: auto;
}
.menuCabecalho{
    display: flex;
    gap: 80px;
}
.itemMenuCabecalho{
    font-family: 'Quicksand', sans-serif;
    color: #003D59;
    font-weight: 700;
    font-size: 20px;
}
.conteudo{
    margin-bottom: 48px;
    border-top: 4px solid #003D59;
}
.conteudoPrincipal{
    display: flex;
    flex-direction:row;
    background: #f3f5f6;
    align-items: center;
}
.conteudoPrincipalEscritoImagem{
    max-width: 40%;
    height: auto;
    align-items: stretch;
}
.conteudoPrincipalEscrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudoPrincipalEscritoTitulo{
    font-family: 'Quicksand', sans-serif;
    color: #003D59;
    font-weight: 700;
    font-size: 23px;
    }
.conteudoPrincipalEscritoSubtitulo{
    font-family: 'Quicksand', sans-serif;
    color: #003D59;
    font-weight: 700;
    font-size: 20px;
}
.conteudoPrincipalEscritoBotao{
    background-color: #71BECF;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px #003D59;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    color: #003D59;
    font-weight: 700;
    font-size: 18px;
}
.conteudoSecundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
.conteudoSecundarioTitulo{
    border-top: 4px solid #003D59;
    padding-top: 48px;
    font-family: 'Quicksand', sans-serif;
    color: #fe6625;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
}
.conteudoSecundarioParagrafo{
    font-family: 'Quicksand', sans-serif;
    color: #003D59;
    font-weight: 700;
    font-size: 19px;
}
.rodape{
    padding: 5px;
    border-top: 4px solid #003D59;
    background: white;
 }
 .imagemRodape{
    max-width: 6%;
    height: auto;
    display: block;
    margin: 0 auto;
 }
