@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: white;
}
header{
    background-color:white;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.imagemCabecalho{
    max-width: 10%;
    height: auto;
}
.menuCabecalho{
    display: flex;
    gap: 80px;
}
.itemMenuCabecalho{
    font-family: 'Quicksand', sans-serif;
    color: #003D59;
    font-weight: 700;
    font-size: 20px;
}
.conteudo{
    margin-bottom: 48px;
    border-top: 4px solid #003D59;
}
.conteudoPrincipal{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    background: #f3f5f6;

}
.conteudoPrincipalEscritoImagem{
    max-width: 40%;
    height: auto;
}
.conteudoPrincipalEscrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudoPrincipalEscritoTitulo{
    font-family: 'Quicksand', sans-serif;
    color: #003D59;
    font-weight: 700;
    font-size: 23px;
}
.conteudoPrincipalEscritoSubtitulo{
    font-family: 'Quicksand', sans-serif;
    color: #003D59;
    font-weight: 700;
    font-size: 20px;
}